.sidebar-container {
  display: flex;
  font-family: "Cabinet", sans-serif;
  justify-content: flex-start;
  width: 229px;
  height: 56px;
  font-size: 20px;
  font-weight: 700;
  padding-right: 116px;
  flex-direction: column;
}

.sidebar__logout-button {
  background-color: transparent;
  border: none;
  margin-top: 8px;
  display: flex;
  color: #000;
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 0;
}

.sidebar__change_profile_data-button {
  background-color: transparent;
  border: none;
  margin-top: 24px;
  display: flex;
  color: #000;
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding:0;
}

.profile__logo {
  font-family: "Familjen Grotesk", sans-serif;
  display: flex;
  margin: 0 0 0px 40px;
  font-size: 20px;
  font-weight: 700;
  height: 40px;
  gap: 16px;
  margin: 0;
}

.profile__avatar-image {
  border-radius: 50%;
  background-color: black;
}
.profile__avatar-name {
  align-self: center;
}
