.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
    padding: 0 20px;
    color: #000;
    font-family: Cabinet Groestk, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
  }
  
  .header__logo {
    display: flex;
    gap: 20px;
    align-items: center;
    height: 89px;
    width: 40px;
  }
  
  .header__avatar-logo {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  